################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/phpMyAdmin
/wp-admin
/wp-includes
/软件专题.url
/统一下载站.url
/xmlrpc.php
/wp-trackback.php
/wp-signup.php
/wp-settings.php
/wp-mail.php
/wp-login.php
/wp-load.php
/wp-links-opml.php
/wp-cron.php
/wp-config.php
/wp-config-sample.php
/wp-comments-post.php
/wp-blog-header.php
/wp-activate.php
/readme.html
/license.txt
/index.php
/.htaccess
/wp-content/languages
/wp-content/plugins
/wp-content/index.php
/wp-content/themes/twentyfifteen
/wp-content/themes/twentyfourteen
/wp-content/themes/twentysixteen
/wp-content/themes/index.php
